<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC05A2AE1C6D715D001D45C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC05A2C21C6D715D001D45C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC05A2CD1C6D715D001D45C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
